@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.TouchSynth {
	width: 80rem;
	height: 80rem;
	padding: 2rem;
	border: 1px solid var(--border);
	border-radius: 1rem;
	@include flex_col(center, center);

	&_controls {
		width: 100%;
		height: auto;
	}

	&_pad {
		width: 60rem;
		height: 60rem;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
	.TouchSynth {
		width: 100%;
	}
}
