@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Button {
	padding: 0.5rem 1.5rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	font-size: 1.6rem;
	background-color: var(--accent);
	color: #fff;
	&:hover {
		cursor: pointer;
	}
	&:disabled {
		opacity: 0.4;
		cursor: not-allowed;
	}
}
