@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Nav {
	width: 100%;
	max-width: 100%;
	height: auto;
	font-size: 1.5rem;
	margin-bottom: 2rem;

	&_list {
		@include fill_container;
		@include flex_row(flex-start, center, wrap);
		list-style: none;
		gap: 2rem;

		&_item {
			color: var(--accent);
			text-decoration: none;
			transition: all 0.3s ease-in-out;

			& a {
				color: var(--accent);
				text-decoration: none;
			}
		}
	}
}

.isActive {
	color: var(--accent-bright-red);
	text-decoration: underline;
	transition: all 0.3s ease-in-out;
}
