@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.Select {
	width: 20rem;
	height: 3rem;
	font-size: 1.6rem;
	@include flex_col(flex-start, flex-start);

	&_label {
		font-size: 1.6rem;
	}
	&_select {
		width: 100%;
		height: 100%;
		border-radius: 0.5rem;
		border: 1px solid var(--border);
		outline: none;
		color: rgba(255, 255, 255, 0.87);
		background-color: transparent;
		&:hover {
			cursor: pointer;
		}

		&_option {
			padding: 0.2rem 0.4rem;
			color: white;
			background-color: var(--main-bg);
			// background-color: transparent;
		}
	}
}
