@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SynthPage {
	width: 100%;

	& h1 {
		margin-bottom: 2rem;
	}

	&_main {
		@include fill_container;
		@include flex_col(center, center);
		padding: 4rem 0;
	}
}

.KeyCodes {
	width: 25rem;
	height: auto;
	border: 1px solid var(--border);
	padding: 2rem;

	h3 {
		margin-bottom: 1rem;
	}
	&_info {
		font-size: 1.4rem;
	}
}
