@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.EffectBlock {
	width: auto;
	height: 25rem;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
	// font-family: var(--choco-sans);

	&_label {
		text-align: center;
		font-size: 2rem;
		margin-bottom: 2rem;
	}
	&_main {
		@include fill_container;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		place-items: center;
		gap: 2rem 2rem;
	}
}
