@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.SynthControls {
	width: 100%;
	height: 40%;
	padding: 2rem 1rem;

	&_row {
		width: 100%;
		height: 5rem;
		max-height: max-content;
		@include flex_row(space-between, flex-start, wrap);
	}
}

.PowerButton {
	width: auto;
	border: none;
	outline: none;
	padding: 0.1rem 0.3rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

[data-on="true"] {
	background-color: red;
}
[data-on="false"] {
	background-color: initial;
	opacity: 0.4;
}
