@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.ImageCanvasPreview {
	@include fill_container;
	border-radius: 0 0 1rem 1rem;

	& canvas {
		display: block;
		max-height: 600px;
	}
}
