@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.UIPlayground {
	@include fill_container;

	&_main {
		@include fill_container;
		padding: 4rem;

		&_waves {
			border: 1px solid #ccc;
			width: 12rem;
			height: 12rem;
			max-height: 12rem;
			max-width: 12rem;
			@include flex_row(space-evenly, center, wrap);
			margin-bottom: 4rem;
		}
	}
}

.Item {
	width: 100%;
	height: 100%;
	@include flex_row(flex-start, center);

	&_icon {
		width: 1.4rem;
		height: 1.4rem;
		fill: var(--border);
		margin-right: 1rem;
		margin-top: 0.25rem;
	}
}

@media only screen and (max-width: 700px) {
	.UIPlayground {
		width: 100%;
		max-width: 100%;

		&_main {
			@include fill_container;
			padding: 4rem 0.5rem;
		}
	}
}
