@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/custom";

.WaveForms {
	width: auto;
	height: auto;
	// width: 5rem;
	// height: 5rem;

	& svg {
		border: 1px solid #ccc;
	}
}
